.character-list {
    display: grid;
    /* Columnas responsivas:
        - auto-fill: Tantas como quepan.
        - minmax(220px, 1fr): Cada una mide mínimo 220px y máximo 1 fracción del espacio.
  */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
    /* Espacio entre tarjetas */
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    /* Centrar la grilla */
}

.no-characters-found {
    color: var(--text-light);
    font-size: 1.5rem;
    margin-top: 50px;
    font-weight: 500;
}