.modal-overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: #a0a0a1e4;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid black;
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.modal-content img{
    max-width: 100%;
    border-radius: 10px;
}

.modal-content p{
    margin: 10px;
    text-align: left;
}

.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: red;
    color:white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
