.App {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
}

.search-container {
  margin-bottom: 40px;
}

.error-msg {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

/* --- ESTILOS DE TU GRID INTERNO (residents-grid) --- */
/* Como usaste <div className="residents-grid"> dentro de CharacterDetail */
.residents-grid .character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Tarjetas más pequeñas */
  gap: 15px;
  margin-top: 20px;
}