/* 2. ESTILOS DE SEARCHBAR */
.search-form {
    margin-top: 15px;
}

.search-input {
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
}

.search-button {
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #88C149;
    color: #111;
    cursor: pointer;
    margin-left: 5px;
}