/* --- Estilos para el Modal --- */

.modal-overlay {
    position: fixed;
    /* Se superpone a todo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #8f9297;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #000000;
    max-width: 500px;
    width: 90%;
    position: relative;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s;
    /* Pequeña animación */
}

.modal-content img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 1.1rem;
    margin: 10px 0;
    text-align: left;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #ff6b6b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}