.character-card {
    background-color: var(--secondary-bg);
    border-radius: 10px;
    overflow: hidden;
    /* Para que la imagen se ajuste a las esquinas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* Asegura que la info esté bajo la imagen */
}

.character-card:hover {
    transform: scale(1.05);
    /* Efecto de zoom al pasar el ratón */
    box-shadow: 0 6px 12px rgba(136, 193, 73, 0.4);
    /* Sombra de acento */
}

.character-card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-info {
    padding: 15px;
}

.character-name {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0 10px 0;
    color: var(--text-light);
}

.character-status {
    font-size: 0.9rem;
    color: #ccc;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Círculo de estado (Vivo, Muerto, etc.) */
.status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
}

.status-alive {
    background-color: #55CC44;
    /* Verde vivo */
}

.status-dead {
    background-color: var(--error-color);
    /* Rojo muerto */
}

.status-unknown {
    background-color: #9E9E9E;
    /* Gris desconocido */
}