/* --- ESTILOS DEL BUSCADOR (SearchBar) --- */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Espacio entre input y bot칩n */
    margin: 20px 0;
}

.search-bar input {
    padding: 12px 20px;
    width: 300px;
    /* Un buen ancho base */
    border-radius: 50px;
    /* Bordes totalmente redondos */
    border: 2px solid #ddd;
    background-color: #f0f0f0;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Efecto al hacer click en el input */
.search-bar input:focus {
    border-color: #97ce4c;
    /* Verde Rick */
    background-color: #fff;
    box-shadow: 0 0 8px rgba(151, 206, 76, 0.5);
}

.search-bar button {
    padding: 12px 25px;
    background-color: #97ce4c;
    /* Verde Rick & Morty */
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Efecto Hover del bot칩n */
.search-bar button:hover {
    background-color: #7ab536;
    /* Un verde un poco m치s oscuro */
    transform: translateY(-2px);
    /* El bot칩n sube un poquito */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.search-bar button:active {
    transform: translateY(0);
    /* Al clicar vuelve a bajar */
}